<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/formStyle.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <title>@ViewData["Title"] - Football</title>
    <script src="~/js/site.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md box-shadow">
        <h4 class="navbar-brand">Football</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="@((ViewContext.RouteData.Values["controller"] as string == "Home" || ViewContext.RouteData.Values["controller"] as string == "Country" ||
                        ViewContext.RouteData.Values["controller"] as string == "Player") ? "active" : "") nav-link" href="/Home/Index">Strona główna</a>
                </li>
                <li class="nav-item">
                    <a class="@((ViewContext.RouteData.Values["controller"] as string == "Group") ? "active" : "") nav-link" href="/Group/Index">Grupy</a>
                </li>
                <li class="nav-item">
                    <a class="@((ViewContext.RouteData.Values["controller"] as string == "Match") ? "active" : "") nav-link" href="/Match/Index">Mecze</a>
                </li>
                <li class="nav-item">
                    <a class="@((ViewContext.RouteData.Values["controller"] as string == "Match") ? "active" : "") nav-link disable" href="/Match/Tournament">Drabinka turniejowa</a>
                </li>
                <li class="nav-item">
                    <a class="@((ViewContext.RouteData.Values["controller"] as string == "Player") ? "active" : "") nav-link disable" href="/Player/Index">Strzelcy</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
