@model Football.Entities.Match
@using System.ComponentModel.DataAnnotations;
@using Football.Entities
@{
    ViewData["Title"] = "Create match";
}
<script>
    var countriesData = @Html.Raw(Json.Serialize(ViewBag.Countries));
</script>

<div class="text-center">
    <h2 class="text-white">Dodaj mecz</h2>
    <form asp-action="AddMatch" asp-controller="Match" method="post" class="my-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group row">
            <div class="col-6">
                <label asp-for="PlayStage" class="control-label"></label>
                <select id="playStage" class="form-control" asp-for="PlayStage">
                        <option value="@Football.Entities.Stage.Group">Grupa</option>
                </select>
                <span asp-validation-for="PlayStage" class="text-danger"></span>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="MatchDate" class="control-label"></label>
                    <input type="date" asp-for="MatchDate" class="form-control" />
                    <span asp-validation-for="MatchDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4">
                <label class="control-label" for="createMatchHomeId">Gospodarze</label>
                <select id="createMatchHomeId" asp-for="HomeId" class="form-control" onchange="GetCountryList(countriesData, 'createMatchHomeId')">
                    <option value="" disabled selected>Wybierz gospodarzy</option>
                    @foreach (var country in ViewBag.Countries as List<Country>)
                    {
                        <option value="@country.CountryID">@country.CountryName</option>
                    }
                </select>
                <span asp-validation-for="HomeId" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label class="control-label text-center" style="margin-right: 10px;">Wynik</label>
                <div class="row">
                    <div class="offset-1 col-1" style="margin-right: 40px;margin-left: -10px;">
                        <input type="number" asp-for="HomeScore" class="form-control" min="0" />
                        <span asp-validation-for="HomeScore" class="text-danger"></span>
                    </div>
                    <div class="offset-1 col-1">
                        <input type="number" asp-for="VisitorScore" class="form-control" min="0" />
                        <span asp-validation-for="VisitorScore" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <label asp-for="VisitorId" class="control-label"></label>
                <select id="createMatchVisitorId" asp-for="VisitorId" class="form-control" onchange="GetCountryList(countriesData, 'createMatchVisitorId')">
                    <option value="" disabled selected>Wybierz gości</option>
                    @foreach (var country in ViewBag.Countries as List<Country>)
                    {
                        <option value="@country.CountryID">@country.CountryName</option>
                    }
                </select>
                <span asp-validation-for="VisitorId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-4 offset-4">
                <label class="control-label" style="margin-right: 10px;">Karne</label>
                <div class="row">
                    <div class="offset-1 col-1" style="margin-right: 15px;margin-left: 5px;">
                        <input type="number" asp-for="HomeScoreP" class="form-control" min="0" value="0" />
                        <span asp-validation-for="HomeScoreP" class="text-danger"></span>
                    </div>
                    <div class="offset-1 col-1">
                        <input type="number" asp-for="VisitorScoreP" class="form-control" min="0" value="0" />
                        <span asp-validation-for="VisitorScoreP" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="btn-group">
                <button style="margin-right: 15px" type="button" class="btn btn-secondary" onclick="goBack()">Wstecz</button>
                <button type="submit" class="btn btn-primary">Dodaj</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
